---
const { lang, content } = Astro.props;
---

<section class="section_case_01 banner_main" style="background-image: url('/img/case-studies/img-01.png');">
  <div class="banner__content content-text">
    <h1 set:html={content.main_banner.heading}></h1>
    <h2 set:html={content.main_banner.subtitle}></h2>
  </div>
</section>