.section_binit_01{
    .content-text{
      width: 48%;
      padding: 2rem;
      border-radius: 8px;

      h2{
        font-size: 32px;
        line-height: 48px;
        font-weight: 400;
      }
      p{
        padding-right: 19%;
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }