
@use '../base/variables';
@use '../base/mixins' as mixins;


.section_career_01{
    .content-text{
      width: 48%;
      border-radius: 8px;
      @include mixins.respond-to(2xl) {
        width: 70%;
      }
      h1 span{
            color: variables.$color-orange-degrade;
      }
      h2{
        font-size: 32px;
        line-height: 48px;
        font-weight: 400;
      }
      p{
        padding-right: 19%;
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
}

@include mixins.respond-to(md) {
  .section_career_01.banner_main{
    background-image: url('/img/career/img-01-mobile.jpg') !important;
    background-position: center bottom;
  }
}

.section_career_02{
  text-align: center;

  p.subtitle{
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    @include mixins.respond-to(md) {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .content-item{
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    @include mixins.respond-to(md) {
      margin-top: 2rem;
      flex-direction: column;
    }
    .item{
      background-color: variables.$color-blue-bg;
      padding: 1.8rem 1.5rem;
      img{
        margin-bottom: 1rem;
        &.icon-img-01, &.icon-img-02{
          padding-top: 22px;
        }
      }
      h3{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.5rem;
        @include mixins.respond-to(md,min) {
          text-align: left;
        }
      }
      @include mixins.respond-to(md,min) {
        p{
          text-align: left;
        }
      }
    }
  }

  .content-join-us{
    margin-top: 7rem;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mixins.respond-to(2xl) {
      width: 70%;
    }
    @include mixins.respond-to(md,min) {
      text-align: left;
    }
    @include mixins.respond-to(md) {
      margin-top: 3rem;
      width: 100%;
      flex-direction: column;
      img{
        margin-bottom: 2rem;
      }
    }

    p{
      @include mixins.respond-to(md,min) {
        margin-left: 3rem;
      }

      a{
        font-weight: 600;
      }
    }
  }
}