@use '../base/variables';
@use '../base/mixins' as mixins;

.section_contact_01{
    h1{
        display: none;
    }
    margin: 7rem 12rem;
    @include mixins.respond-to(lg) {
        margin: 7rem 8rem;
    }
    @include mixins.respond-to(lg) {
        margin: 6rem 0;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        height: 80vh;
        max-height: 80vh;
        width: 100%;

        .chat-body {
            flex: 1;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 1rem 1rem 3rem 1rem;

            .message {
                margin: 0.5rem 0;
                max-width: 90%;
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
                

                &.bot {
                    display: flex;
                    align-self: flex-start;
                    align-items: flex-start;
                    img{
                        margin-right: 25px;
                    }
                }

                &.user {
                    align-self: flex-end;
                }
            }

            .message.typing {
                display: flex;
                align-items: center;

                p {
                    font-size: 30px;
                    margin: 0;
                    position: relative;
                }

                .dots::after {
                    content: '';
                    display: inline-block;
                    animation: dots 1s steps(3, end) infinite;
                    overflow: hidden;
                    vertical-align: bottom;
                    width: 0.8em;
                }

                @keyframes dots {
                    0% { content: ''; }
                    33% { content: '.'; }
                    66% { content: '..'; }
                    100% { content: '...'; }
                }
            }

        }

        .chat-input {
            display: flex;
            gap: 0.5rem;
            border: 2px solid variables.$color-blue-dark;
            border-radius: 5px;
            margin-top: 2rem;

            textarea {
                font-family: variables.$font-family;
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                flex: 1;
                resize: none;
                padding: 0.75rem 0.75rem;
                border: none;
                background: none;
                overflow-y: auto;
                &:focus-visible{
                    outline: none;
                }
            }

            button {
                display: flex;
                align-items: center;
                background: none;
                padding: 0;
                margin: 0.5rem 0.5rem;
                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }


}