@use '../base/variables';
@use '../base/mixins' as mixins;

.section_home_01{
  .content-text{
    width: 38%;
    padding: 2rem;
    border-radius: 8px;
    @include mixins.respond-to(2xl) {
      width: 70%;
    }
    @include mixins.respond-to(sm) {
      h1{
        margin-bottom: 0.6rem;
      }
    }
    h2{
      font-size: 32px;
      line-height: 48px;
      font-weight: 400;
      @include mixins.respond-to(lg) {
        font-size: 28px;
        line-height: 42px;
      }
      @include mixins.respond-to(sm) {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0.6rem;
      }
    }
    p{
      padding-right: 19%;
      font-size: 20px;
      margin-bottom: 1rem;
      @include mixins.respond-to(sm) {
        padding-right: 0;
        font-size: 18px;
        margin-bottom: 0.6rem;
      }
    }
  }
}

@include mixins.respond-to(md) {
  .section_home_01.banner_main{
    background-image: url('/img/home/img-01-mobile.jpg') !important;
    background-position: center bottom;
  }
}

.section_home_02{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include mixins.respond-to(md) {
    flex-direction: column;
    align-items: flex-start;
  }

  .content-text{
    width: 50%;
    max-width: 50%;
    @include mixins.respond-to(md) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1.5rem;
    }
    p{
      margin: 1.5rem 0;
      @include mixins.respond-to(md) {
        margin: 1rem 0;
      }
    }
  }
  #home__carousel{
    width: 45%;
    @include mixins.respond-to(md) {
      width: 100%;
      margin-bottom: 3rem;
    }

    
    .splide__slide{
      @include mixins.respond-to(md, min) {
        margin: 0 1.5rem;  
      }

      &.is-active{
      }
      .box-carousel{
        width: 300px;
        height: 100%;
        border: 2px solid variables.$color-blue-line;
        background-color: #061E46;
        padding: 1.5rem 1.8rem;
        border-radius: 23px;
        @include mixins.respond-to(md) {
          margin: 0 auto;
        }
        .carousel-img{
          margin-bottom: 1rem;
        }
        h3{
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 0.6rem;
        }
        p{
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
    
    .splide__track{
      padding-bottom: 2.5rem;
    }
    .splide__arrows{
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateY(-50%);
      @include mixins.respond-to(lg) {
        bottom: -5px;
        left:33%;
      }
      @include mixins.respond-to(md) {
        left: 39%;
        transform: translateX(-50%);
      }
      .splide__arrow--prev{
        right: 1rem;
        left: 0;
      }
      .splide__arrow--next{
        left: 2.5rem;
        right: 0;
      }
    }
    span.box-degrade{
      width: 30%;
      height: 100%;
      position: absolute;
      z-index: 4;
      &.right{
        right: 0;
        background: linear-gradient(to right, transparent, variables.$color-bg);
      }
      &.left{
        left: 0;
        background: linear-gradient(to left, transparent, variables.$color-bg);
      }
      @include mixins.respond-to(lg) {
        display: none;
      }
    }
    .splide {
      width: 100%;
      max-width: 900px;
      margin: auto;
    }

    @include mixins.respond-to(md, min) {
      .splide__slide {
        transform: translateY(40px);
        opacity: 0.6;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      .splide__slide.is-active {
        transform: translateY(0);
        opacity: 1;
        z-index: 2;
      }
    }

    .splide__arrow {
      background: none;
      border: none;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 32px;
      svg{
        display: none;
      }
    }

    .splide__arrow--prev {
      background-image: url('/img/home/carousel/arrow-prev.svg');
    }

    .splide__arrow--next {
      background-image: url('/img/home/carousel/arrow-next.svg');
    }

  }
}

.section_home_03{
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  @include mixins.respond-to(md) {
    background: none !important;
  }
  .content-text{
    width: 50%;
    @include mixins.respond-to(lg) {
      width: 65%;
    }
    @include mixins.respond-to(md) {
      width: 100%;
    }
    p{
      font-size: 18px;
      margin: 1rem 0;
    }
  }
}

.section_home_04{
  text-align: center;
  .content-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem 1rem;
    margin: 4rem 0;
    @include mixins.respond-to(lg) {
      margin: 3rem 0;
    }
    @include mixins.respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
      margin: 2rem 0;
      gap: 1rem 1rem;
    }
    @include mixins.respond-to(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-decoration: none;
      .box-img{
        border: 2px solid variables.$color-blue-dark;
        padding: 0.8rem 1rem;
        margin-bottom: 1rem;
        @include mixins.respond-to(md) {
          margin-bottom: 0.6rem;
        }
      }
      span{
        font-size: 20px;
        font-weight: 400;
        @include mixins.respond-to(md) {
          font-size: 18px;
        }
      }
      &:hover{
        .box-img{
          border: 2px solid variables.$color-orange;
        }
        span{
          font-weight: 600;
        }
      }
    }
  }
}

.section_home_05{
  text-align: center;

  h2{
    margin-bottom: 2rem;
    @include mixins.respond-to(md) {
      br{
        display: none;
      }
    }
  }

  .content-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 4rem;
    @include mixins.respond-to(md) {
      gap: 1.5rem 1.5rem;
    }
    img {
      flex: 0 0 calc(100% / 6 - 1rem); 
      max-width: 150px;              
      height: auto;
      @include mixins.respond-to(lg) {
        max-width: 120px;
      }
      @include mixins.respond-to(md) {
        max-width: 130px;
      }
    }
  }
}

.section_home_06{
  height: 60vh;

  .headline .title{
    font-size: 96px;
    height: 96px;
    font-weight: 700;
    @include mixins.respond-to(sm) {
      font-size: 55px;
      height: 55px;
    }
  }

  /*Animacion*/
  .word-carousel {
    height: 86px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    @include mixins.respond-to(sm) {
      height: 55px;
    }
  }
  
  .words {
    display: flex;
    flex-direction: column;
    animation: vertical-loop 6s ease-in-out infinite;
  }
  
  .words span {
    font-size: 96px;
    font-weight: 700;
    height: 96px;
    line-height: 96px;
    text-align: left;
    @include mixins.respond-to(sm) {
      font-size: 55px;
      line-height: 68px;
      height: 55px;
    }
  }
  
  @keyframes vertical-loop {
    0%, 10% { transform: translateY(0); }
    30%, 40% { transform: translateY(-96px); }
    60%, 70% { transform: translateY(-192px); }
    90%, 100% { transform: translateY(-288px); }
  }
  @include mixins.respond-to(sm) {
    @keyframes vertical-loop {
      0%, 10% { transform: translateY(0); }
      30%, 40% { transform: translateY(-55px); }
      60%, 70% { transform: translateY(-110px); }
      90%, 100% { transform: translateY(-165px); }
    }
  }
  /*Animacion end*/

  p{
    width: 60%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    @include mixins.respond-to(md) {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.section_home_07{
  text-align: center;
  img{
    width: 100%;
    margin: 0 auto;
    @include mixins.respond-to(lg) {
      width: 90%;
    }
    @include mixins.respond-to(md) {
      width: 100%;
    }
  }
}