@charset "UTF-8";
/* Reset CSS básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Titillium Web", sans-serif;
  min-height: 100vh;
  background-color: #01081D;
}

header {
  position: fixed;
  z-index: 9;
  width: 100%;
  background: linear-gradient(to bottom, rgba(2, 4, 10, 0.9), rgba(2, 4, 10, 0));
  padding: 1.5rem 20rem;
  color: white;
}
@media (max-width: 1536px) {
  header {
    padding: 1.5rem 12rem;
  }
}
header nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
header nav .content-menu {
  display: flex;
  align-items: center;
}
header nav .content-menu ul.main-menu {
  display: flex;
}
header nav .content-menu ul.main-menu li {
  padding: 0 1.5rem;
  list-style: none;
}
header nav .content-menu ul.main-menu li.active a {
  font-weight: bold;
}
header nav .content-menu ul.main-menu li a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav .content-menu ul.language-switcher {
  cursor: pointer;
  margin-top: 8px;
  margin-left: 1rem;
  list-style: none;
  position: relative;
  display: inline-block;
}
header nav .content-menu ul.language-switcher .language-arrow::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url("/img/icons/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
}
header nav .content-menu ul.language-switcher .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  left: -0.5rem;
  background-color: #02040A;
  padding: 0 0.5rem 0.5rem;
}
header nav .content-menu ul.language-switcher:hover .dropdown {
  display: block;
}
header nav .content-menu ul.language-switcher a {
  text-decoration: none;
  color: inherit;
  margin-top: 7px;
  display: block;
}

main {
  overflow: hidden;
  padding: 0 20rem 1rem;
  color: white;
  min-height: 100vh;
}
@media (max-width: 1536px) {
  main {
    padding: 0 12rem 1rem;
  }
}

footer {
  background-color: #000;
  padding: 6rem 20rem 2rem;
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
@media (max-width: 1536px) {
  footer {
    padding: 6rem 12rem 2rem;
  }
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
footer .footer-container .footer-partners h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2rem;
}
footer .footer-container .footer-partners ul {
  display: flex;
  list-style: none;
}
footer .footer-container .footer-partners ul li {
  padding-right: 2rem;
}
footer .footer-container .footer-info {
  margin-top: 1.5rem;
}
footer .footer-container .footer-info p {
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-bottom: 10px;
}
footer .footer-container .footer-info a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
footer .footer-bottom {
  text-align: center;
  margin-top: 4rem;
}
footer .footer-bottom p {
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin-bottom: 10px;
}
footer .footer-bottom a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
footer .footer-bottom a.decoration {
  text-decoration: underline;
}

button {
  padding: 0.5rem 1rem;
  font-family: "Titillium Web", sans-serif;
  background-color: #EB5C21;
  color: #FFFFFF;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #02040A;
}

.banner {
  position: relative;
  width: 100vw; /* 100% del ancho de la ventana */
  margin: 0;
  padding: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
}
.banner .banner__content {
  padding: 2rem;
  border-radius: 8px;
  margin-left: 20rem;
}
@media (max-width: 1536px) {
  .banner .banner__content {
    margin-left: 12rem;
  }
}
.banner .banner__button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/*# sourceMappingURL=global.css.map */
