#aihub-chat{

    .FabButton_container__kEpYH{
        background-image: url('/img/smartbot/icon-chatbot.svg');
        background-repeat: no-repeat;
        background-position: center;
        svg{
            display: none;
        }
    }

    .Header_headerOpened__IV0A2 img{
        display: none;
    }
}