@use '../base/variables';
@use '../base/mixins' as mixins;

header {
  position: fixed;
  z-index: 9;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(variables.$color-primary, 0.9), // color oscuro 80% arriba
    rgba(variables.$color-primary, 0)    // totalmente transparente abajo
  );
  padding: 1rem variables.$padding-page;
  color: white;
  transition: all ease 200ms;
  @include mixins.respond-to(md) {
    overflow: hidden;
  }

  &.scrolled {
    background-color: variables.$color-primary;
    backdrop-filter: blur(8px); // opcional: para efecto glass
  }

  @include mixins.respond-to(3xl) {
    padding: 1rem 15rem;
  }
  @include mixins.respond-to(2xl) {
    padding: 1rem variables.$padding-page-2xl;
  }
  @include mixins.respond-to(lg) {
    padding: 1rem 3rem;
  }

  @include mixins.respond-to(md) {
    padding: 1.2rem 1.5rem 1rem;
    &.open{
      height: 100vh;
      background-color: variables.$color-primary !important;
      z-index: 99999;
    }
  }

  nav {
    display: flex;
    gap: variables.$spacing-md;
    align-items: center;
    justify-content: space-between;
    .content-menu{
      display: flex;
      align-items: center;
      @include mixins.respond-to(md) {
        position: absolute;
        top: 90px;
        flex-direction: column;
        align-items: flex-start;
      }
      ul.main-menu{
        display: flex;
        @include mixins.respond-to(md) {
          flex-direction: column;
        }
        li{
          padding: 0 1.5rem;   
          list-style: none;
          @include mixins.respond-to(lg) {
            padding: 0 1rem;
          }
          @include mixins.respond-to(md) {
            padding: 0.6rem 0;
          }
          &.active{
            a{
              font-weight: bold;
            }
          }

          a{
            color: white;
            text-decoration: none;
            letter-spacing: 1px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
              font-weight: bold;
            }            
            @include mixins.respond-to(md) {
              font-size: 22px;
              line-height: 30px;
            }
          }
        }
      }
      ul.language-switcher {
        cursor: pointer;
        margin-top: 8px;
        margin-left: 1rem;
        list-style: none;
        position: relative;
        display: inline-block;
        @include mixins.respond-to(md) {
          margin-top: 2rem;
          margin-left: 0;
        }

        .language-arrow::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 14px;
          background-image: url('/img/icons/arrow-down.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 5px;
          @include mixins.respond-to(md) {
            transform: rotate(90deg);
          }
        }
      
        .dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          list-style: none;
          left: -0.5rem;
          background-color: variables.$color-primary;
          padding: 0 0.5rem 0.5rem;
          @include mixins.respond-to(md) {
            display: block;
          }
        }
      
        &:hover .dropdown {
          display: block;
        }
      
        a {
          text-decoration: none;
          color: inherit;
          margin-top: 7px;
          display: block;
        }
      }     
    }

    //Btn menu mobile
    .btn-menu-mobile{
      width: 30px;
      height: 24px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
      z-index: 1000;
      border-radius: 0;

      @include mixins.respond-to(md) {
        display: block !important;
      }

      span {
        display: block;
        height: 2px;
        margin-bottom: 5px;
        width: 30px;
        background: #fff;
        border-radius: 3px;
        transition: all 0.3s ease;
        transform-origin: center;
      }

      &.open {
        span:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }
}