@use '../base/variables';
@use '../base/mixins' as mixins;

.show-mobile{
    display: none;
    @include mixins.respond-to(md) {
        display: inline-block;
    }
}

.hide-mobile{
    display: inline-block;
    @include mixins.respond-to(md) {
        display: none;
    }
}

main{
    overflow: hidden;
    padding: 0 variables.$padding-page 1rem;
    color: white;
    min-height: 100vh;
    @include mixins.respond-to(3xl) {
        padding: 0 15rem 1rem;
    }
    @include mixins.respond-to(2xl) {
        padding: 0 variables.$padding-page-2xl 1rem;
    }
    @include mixins.respond-to(lg) {
        padding: 0 3rem 1rem;
    }
    @include mixins.respond-to(md) {
        padding: 0 1.5rem 1rem;
    }

    h1{
        font-size: 64px;
        line-height: 76px;
        font-weight: 700;
        margin-bottom: 1rem;
        @include mixins.respond-to(lg) {
            font-size: 50px;
            line-height: 66px;
        }
        @include mixins.respond-to(sm) {
            font-size: 40px;
            line-height: 44px;
        }
    }

    h2{
        font-size: 40px;
        line-height: 62px;
        font-weight: 700;
        margin-bottom: 1rem;
        @include mixins.respond-to(lg) {
            font-size: 34px;
            line-height: 48px;
        }
        @include mixins.respond-to(md) {
            font-size: 30px;
            line-height: 42px;
        }
        @include mixins.respond-to(sm) {
            font-size: 24px;
            line-height: 34px;
        }
    }
    p{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        strong{
            font-weight: 700;
        }
        @include mixins.respond-to(lg) {
            font-size: 18px;
            line-height: 28px;
        }
        @include mixins.respond-to(sm) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .btn_orange {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 0.7rem 1.5rem;
        background-color: variables.$color-orange;
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        @include mixins.respond-to(lg) {
            font-size: 20px;
            line-height: 24px;
        }
        &:hover {
            filter: brightness(1.2);
            box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
        }
    }

    a{
        color: #fff;
    }

    .banner_main {
        position: relative;
        width: 100vw;
        margin: 0;
        padding: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        color: #fff;
        @include mixins.respond-to(2xl) {
            height: 100vh;
        }
        .banner__content{
          margin-left:variables.$padding-page;
          @include mixins.respond-to(2xl) {
            margin-left:variables.$padding-page-2xl;
          }
          @include mixins.respond-to(lg) {
            margin-left: 4rem;
          }
          @include mixins.respond-to(md) {
            width: 100%;
            margin-left: 1.5rem;
            padding: 1.5rem 1rem 0 0;
          }
          @include mixins.respond-to(sm) {
            br{
                display: none;
            }
          }
        }
    }
}

section{
    margin: 7rem 0;
    @include mixins.respond-to(lg) {
        margin: 5rem 0;
    }
    @include mixins.respond-to(md) {
        margin: 3rem 0;
    }
}

.gradient-text {
    background: linear-gradient(to right, variables.$color-blue-degrade, variables.$color-orange-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}