// Variables globales
$font-family: 'Titillium Web', sans-serif;

$color-primary: #02040A;
$color-secondary: #EB5C21;
$color-bg: #01081D;
$color-text: #FFFFFF;

$color-blue-line: #005BBF;

$color-blue-dark: #123C81;
$color-blue-bg:  #061E46;
$color-orange: #ff6600;

$color-blue-degrade: #4862FF;
$color-orange-degrade: #EB5C21;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$padding-page: 20rem;
$padding-page-2xl: 10rem;
