// Variables globales
$font-family: 'Titillium Web', sans-serif;

$color-primary: #01081D;
$color-secondary: #EB5C21;
$color-bg: #01081D;
$color-text: #FFFFFF;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
